{% extends "layout.html" %}

{% block title %}
     BaatCheet
{% endblock %}

{% block content %}
  <h1 class="text-center mt-4">Welcome to BaatCheet</h1>

<h2> 
 {% if form.instance.pk %} 
   Edit Tweet
 {% else %}
   Create Tweet 
 {% endif %}
</h2>

<form method="POST" 
      action="{% if form.instance.pk %}{% url 'tweet_edit' form.instance.pk %}{% else %}{% url 'tweet_create' %}{% endif %}" 
      enctype="multipart/form-data" 
      class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-warning" type="submit">Submit</button>
</form>

<a href="{% url 'tweet_list' %}">Back to tweet List</a>
{% endblock %}
